<div class="container ">
  <div class="row">
    <div class="col s6">
      <h3><a href="/" class="heading h1 black-text home">Shopping Cart</a></h3>
    </div>
    <div class="col s6">

      <a href="#"><i class="medium material-icons right black-text cart">shopping_cart</i></a>
    </div>
  </div>
  <div class="row">
    <nav>
      <div class="nav-wrapper blue-grey darken-1">
      </div>
    </nav>
  </div>
  <div class="row">
    {{#each items}}
    
      
        <div class="card large col s3 left hoverable item" id={{id}}>
          <div class="card-image waves-effect waves-block waves-light">
            <img class="activator" src={{image}}>
          </div>
          <div class="card-content">
            <h6 class="black-text left">{{name}}</h6>
            <h6><a href="#" class="black-text darken-1-text right">${{price}}</a></h6>
          </div>
        </div>
     
    
    {{/each}}
  </div>
</div>





