<div class="container ">
  <div class="row">
    <div class="col s6">
      <h3><a href="/" class="heading h1 black-text home">Shopping Cart</a></h3>
    </div>
    <div class="col s6">

      <a href="/cart"><i class="medium material-icons right black-text cart">shopping_cart</i></a>
    </div>
  </div>
  <div class="row">
    <nav>
      <div class="nav-wrapper blue-grey darken-1">
      </div>
    </nav>
  </div>
  <div class="row">
    <div class="card col s4 left ">
      <div class="card-image waves-effect waves-block waves-light">
        <a href="#"><img class="activator item-image" src={{image}}></a>
      </div>
      <div class="card-content">
        <h5 class="black-text left item-name">{{name}}</h5>
        <h5><a href="#" class="black-text darken-1-text right item-price">${{price}}</a></h5>
      </div>
    </div>

    <div class="col s8 left">
      <strong>
        <h4 class="coolFont">Description: </h4>
      </strong>
      <h5>{{{description}}}</h5>
      <br/>
      <hr>
      <br/>
      <a class="waves-effect waves-light btn black add right"><i class="material-icons right">add</i>Add to cart</a>
    </div>
  </div>
  <div class="review-container">
    <div class="row">
      <h4 class="coolFont">Comments</h4>
    </div>

    <div class="row">
      <div class="col-sm-12 col-sm-offset-2">
        <p class="cool-font">Name</p>
        <input class="form-control" type="text" id="name" placeholder="Enter Your Name">
        <br>
        <p class="cool-font">Comment</p>
        <textarea class="form-control" rows="6" id="comment" placeholder="Enter Review Here!"></textarea>
        <button id="submit" class="btn btn-lg pull-right">Submit!</button>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-2">
        <h4>Posted Comments</h4>
        <hr>
        <div id="review-area"></div>
      </div>
    </div>
  </div>


</div>