<div class="container ">
  <div class="row">
    <div class="col s6">
      <h3><a href="#" class="heading h1 black-text ">Shopping Cart</a></h3>
    </div>
    <div class="col s6">

      <a href="#"><i class="medium material-icons right black-text">shopping_cart</i></a>
    </div>
  </div>
  <div class="row">
    <nav>
      <div class="nav-wrapper blue-grey darken-1">
      </div>
    </nav>
  </div>
  <div class="row">
        <div class="card col s4 left ">
          <div class="card-image waves-effect waves-block waves-light">
            <a href="#"><img class="activator" src={{image}}></a>
          </div>
          <div class="card-content">
            <h5 class="black-text left">{{name}}</h5>
            <h5><a href="#" class="black-text darken-1-text right">${{price}}</a></h5>
          </div>
        </div>

        <div class="col s8 left">
        <strong><h4 class="coolFont">Description: </h4></strong> 
        <h5>{{{description}}}</h5>
        


        </div>
     
  </div>

  <div class= "row"> 
    <h4 class="coolFont">Comments</h4>
  </div>


   <div class="row">
    <form class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea id="icon_prefix1" class="materialize-textarea"></textarea>
          <label for="icon_prefix1">Enter your name</label>
        </div>
      </div>
    </form>
  </div>

    <div class="row">
    <form class="col s12 createReview">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">insert_comment</i>
          <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
          <label for="icon_prefix2">Add comments</label>
        </div>
        <button class="btn waves-effect waves-light black" type="submit" name="action">Submit
            <i class="material-icons right">send</i>
        </button>
      </div>
    </form>
  </div>
  

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h4>Posted Comments</h4>
            <hr>
            <div id="chirp-area"></div>
        </div>
    </div>
    
    
    
</div>





