<li>
    <div class="row">
        <div class="card col s3 left hoverable">

            <div class="card-image waves-effect waves-block waves-light">
                <a href="itemDescription.html"><img class="activator" src={{image}}></a>
            </div>
            <div class="card-content">
                <h6 class="black-text left">Post Reviews</h6>
                <h6><a href="#" class="black-text darken-1-text right">$90</a></h6>
            </div>
        </div>
    </div>
</li>